/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}
.header{
  background-image: url(https://github.com/Natpinper/lab-css-recipes-clone/blob/master/french-soup/images/soup.jpg?raw=true);
  height: 650px;
  background-size: cover;
  
}
h1{
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: none; 
  color: white; 
  padding: 20px 20px; 
  font-size: 50px; 
  text-align: center;
}

.doc{
  margin: 40px 40px 40px 40px;
  border-bottom: solid grey;
}
.recipe-info {
  position:relative ;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
}
.ending{
  margin: 40px 40px 50px 40px;
}
h3{
  margin-bottom: 40px;
  margin-right: 40px;
}
ol{
  list-style: none;
}
ol > li { 
  counter-increment: listcounter;
}

ol > li::before {
  content: counter(listcounter) ")";
}
ul{
  list-style: none;
}
ul > li::before{
  content:"- " ;
}