/*Some necessary adjustments*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}
.text-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: none;
            


}